.l-input {
    background: rgba(255, 255, 255, 0.5);
    border: var(--glass-border);

    @apply w-full rounded-xl px-4 py-3 outline-none transition-all duration-200 font-medium;

    &:focus {
        @apply bg-white/90 border-[#3B82F6] ring-4 ring-[#3B82F6]/20;
    }
}