.l-ambient {
    @apply fixed inset-0 -z-10 pointer-events-none overflow-hidden;
}

.l-blob {
    @apply absolute rounded-full blur-[80px] opacity-60;
    animation: float 10s infinite ease-in-out alternate;
}

.l-noise {
    @apply absolute inset-0 opacity-100;
    background: var(--noise-url);
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }

    100% {
        transform: translate(20px, -20px) scale(1.1);
    }
}