// Spinner Components

.l-spinner {
    @apply inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.l-spinner-sm {
    @apply w-4 h-4 border-2 border-blue-500/30 border-t-blue-500 rounded-full;
}

.l-spinner-md {
    @apply w-6 h-6 border-2 border-blue-500/30 border-t-blue-500 rounded-full;
}

.l-spinner-lg {
    @apply w-8 h-8 border-2 border-blue-500/30 border-t-blue-500 rounded-full;
}
