.l-spinner {
    @apply animate-spin rounded-full border-2 border-current border-t-transparent text-blue-600;

    &.l-spinner-sm {
        @apply w-4 h-4 border-2;
    }

    &.l-spinner-md {
        @apply w-8 h-8 border-[3px];
    }

    &.l-spinner-lg {
        @apply w-12 h-12 border-4;
    }
}