// Toggle Components

.l-toggle {
    @apply relative inline-flex items-center h-6 w-11 bg-white/20 rounded-full cursor-pointer transition-all duration-300 border border-white/30;

    &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        left: 2px;
        background: white;
        border-radius: 50%;
        transition: left 0.3s ease;
    }

    &.active {
        @apply bg-blue-500 border-blue-600;

        &::after {
            left: 27px;
        }
    }
}

input[type='checkbox'].l-toggle-input {
    @apply sr-only;

    &:checked + .l-toggle {
        @apply bg-blue-500 border-blue-600;

        &::after {
            left: 27px;
        }
    }
}
