:root {
    --glass-border: 1px solid rgba(255, 255, 255, 0.6);
    --glass-bg: rgba(255, 255, 255, 0.45);
    --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
    --noise-url: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

body {
    @apply font-sans bg-[#FAFAFA] text-gray-800;
}